<div>
    <div id="baner">
        <img src="https://ih1.redbubble.net/image.531944912.8717/flat,1000x1000,075,f.u3.jpg" routerLink="/landing" alt="" id="logo">
        <h2>Sklepik cudów</h2>
    </div>

    <button routerLink="/adm_dashboard" id="admin"><b>Panel Administratora</b></button>

    <div style="display: flex; justify-content: center;">
        <input style ="padding: 10px 12px;margin: 5px 2px;" placeholder="Nazwa produktu" type="text" [(ngModel)]="this.mainService.productsRequest.name">
        <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products" id="szukajka"><b>Szukaj Produktu</b></button>
    </div>
    <div id="cartDiv">
        <button id="cartBtn" routerLink="/cart">
          <img id ="obrazek" src="https://i.imgur.com/QUq3PWE.png" />
            {{getCartQuanity()}}
        </button>
    </div>
</div>
