<div style="display: flex;flex-direction: column;width:120px">
    <button routerLink="/landing" class="button">Sklep</button>
    <button routerLink="/adm_dashboard" class="button">Dashboard</button>
    <button routerLink="/adm_products" class="button">Produkty</button>
    <button class="button">Zamówienia</button>
    <button class="button">Użytkownicy</button>
    <button class="button">Newsletter</button>
    <button class="button">Logi</button>
    <button class="button">Ustawienia</button>
</div>
